body {
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav {
    position: sticky;
    top: 0;
    background: #10dbff;
    font-weight: bold;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}


#teaser {
    width: 100%;
    height: 150px;
}

#teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 800px) {
    #teaser {
        height: 250px;
    }
}

footer ul, nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul li a, nav ul li a {
    font-weight: bold;
    padding: 16px;
    text-decoration: none;
    color: inherit;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

section img {
    padding: 12px;
}

nav ul li a:hover {
    color: whitesmoke;
}

footer ul li a:hover {
    color: silver
}

.spaced-paragraph {
    margin-bottom: 3rem;
  }